* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

#navbar ul li {
  margin: 0.8em;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin: auto;
  border: 1px black solid;
}

form {
  border: 1px solid orange;
  width: 100%;
}

input {
  border: 1px solid #70757a;
  border-radius: 50px;
  height: 3em;
  width: 100%;
  /* TODO: Add the search icon on the left-hand side on the search bar */
  background-image: url("/img/search_black_24dp.svg") top-left no-repeat;
  padding-left: 25px;
}

button {
  padding: 0.5em;
  margin: 0.5em;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}
button:hover {
  border: 1px solid #70757a;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  color: #70757a;
}

#footer-left ul,
#footer-right ul {
  display: flex;
  flex-direction: row;
}

#footer-left ul li,
#footer-right ul li {
  list-style: none;
  margin: 1em;
}
